.deposit_slid{
    position: relative;
}
.p_deposit{
    font-size: 20px;
}
.depo_img{
    position: relative;
    
}
.depo_img img{
    width:100%;
    
}
.depo_text{
    position: absolute;
    top:0;
    bottom: 0;
    -webkit-box-shadow: inset 6px -74px 37px -21px rgba(12,104,169,1);
    -moz-box-shadow: inset 6px -74px 37px -21px rgba(12,104,169,1);
    box-shadow: inset 6px -74px 37px -21px rgba(12,104,169,1);
    width: 100%;
}
.depo_text p{
    background-color: #E18E26;
    color: #fff;
    padding: 3px 45px;
    width: 50%;
}
.depo_text a{
    margin: 0 30px;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
    padding: 15px;
}
.depo_text a:hover{
    color:#fff;
}
/* help area  */

#deposit_help{
    background-image: url('../img/deposit/1.jpg');
    background-position:center;
    background-size: cover;
}
#deposit_help h2{
    color: #fff;
}
.help {
    background: #ccc;
    text-align: center;
    height: 250px;
    align-items: center;
    margin: 10px;
    padding: 17px 7px;
    border-radius: 10px;
}
.help p{
    color: #0C68A9;
}
.help button {
    padding: 14px 30px;
}
/* feature product area  */
.depoProtext{
    color: #fff;
    padding: 18px;
}
.depoProtext h3{
    font-family: lato;
}
.depo_prod{
    height: 38%;
}
.depoProbutton {
    background: #fff;
    border: 1px solid orange;
    border-radius: 0px 0 25px 25px;
}
.depoBtn{
    border-radius: 0px 0px 25px !important;
    padding: 19px 40px !important;
}
.depoProbutton img{
    height: 35px;
}
.depoProtext a{
    color: #fff;
    text-decoration: underline;
}