.deposit_slid{
    position: relative;
}
.p_deposit{
    font-size: 20px;
}
.depo_img{
    position: relative;
    
}
.depo_img img{
    width:100%;
    
}
.depo_text{
    position: absolute;
    top:0;
    bottom: 0;
    -webkit-box-shadow: inset 6px -74px 37px -21px rgba(12,104,169,1);
    -moz-box-shadow: inset 6px -74px 37px -21px rgba(12,104,169,1);
    box-shadow: inset 6px -74px 37px -21px rgba(12,104,169,1);
    width: 100%;
}
.depo_text p{
    background-color: #E18E26;
    color: #fff;
    padding: 3px 45px;
    width: 50%;
}
.depo_text a{
    margin: 0 30px;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
    padding: 15px;
}
.depo_text a:hover{
    color:#fff;
}
/* help area  */

#deposit_help{
    background-image: url('../img/deposit/1.jpg');
    background-position:center;
    background-size: cover;
}
#deposit_help h2{
    color: #fff;
}
.help {
    background: #ccc;
    text-align: center;
    height: 250px;
    align-items: center;
    margin: 10px;
    padding: 17px 7px;
    border-radius: 10px;
}
.help p{
    color: #0C68A9;
}
.help button {
    padding: 14px 30px;
}
/* feature product area  */
.depoProtext{
    color: #fff;
    padding: 18px;
}
.depoProtext h3{
    font-family: lato;
}
.depo_prod{
    height: 38%;
}
.depoProbutton {
    background: #fff;
    border: 1px solid #E18E26;
    border-radius: 0px 0 25px 25px;
}
.depoBtn{
    border-radius: 0px 0px 25px !important;
    padding: 19px 40px !important;
}
.depoProbutton img{
    height: 35px;
}
.depoProtext a{
    color: #fff;
    text-decoration: underline;
}
.viewAll_6{
    background: #F6F6F6;
}
.view_style{
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
}
.view_style p{
    float: left;
    margin: 6px;
    font-weight: 600;
    color: #000;
}
.view_style img{
    height: 40px;
    padding: 5px;
}
.depolistbutton{
    background: #fff;
    border: 1px solid #E18E26;
}
.depolistbutton img{
    height: 40px;
    padding: 3px 10px;
}
.depoviewBtn{
    padding: 19px 40px !important;
    border-radius: 0 !important;
}
/* make appionment page  */
.makeAppbtn {
    border: 2px solid #E18E26 !important;
    background: #fff!important;
    color: #E18E26!important;
}

/* Account selection tool */
.breadcrumb{
    background:#fff !important;
}
.breadcrumb-item a{
    color: #E18E26;
}
/* deposit system */
.system_li li {
    list-style-image: url(../img/list-style5.png);
    list-style-position: outside;
    color: #0C68A9;
}
.system_h4{
    color: #043E6C;
    font-family: lato;
}
/* find out slider  */
.find_pre_next:hover{
    background: none !important;
}